.html {
  background-image: url(../img/allWatches.jpg);
}

.Heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: bold;
  text-align: center;
}

.allWatches {
  background-color: antiquewhite;
}

.singleWatches {
  background-color: bisque;
  border: solid black 5px;
  padding: 10px;

}
